<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />

    <title>derivatived | Linkedin Alerts</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      .error {
        color: red;
      }
      .success {
        color: green;
      }
      .report {
        width: 250px; 
        height: auto;
        color: black;
      }

    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>LinkedIn Alerts</h1>
        <p>Get e-mail alerts for people potentially looking for jobs on LinkedIn</p>
      </header>

      <section>
        <h3>Alerts in your inbox:</h3>
        <p>We notify you of job-seeking candidates the same way LinkedIn tells you that your connections joined a new company.</p>

        <h3>Non-marketed active candidates:</h3>
        <p>Many technical candidates start looking for jobs long before they ever publicly indicate their search.</p>

        <h3>First to target high-tech candidates:</h3>
        <p>Be the first to find out the candidates that are seeking new opportunities before the others!</p>

        <h3>Sample Report: </h3>
        <a class="lightbox" href="static/images/linkedin-email.png">
          <img class="report" style="border-style:solid; border-width:1px;" src="static/images/linkedin-email.png" />
        </a>

        <form id="myForm" class="cmxform" action="/email" method="post">
            <label for="cname">Enter your email:</label>
            <input class="required email" minlength="6" name="email" id="cemail" type="text" />
            <input type="submit" />
            <p id="message"></p>
        </form>

      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="static/javascripts/scale.fix.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/lightbox/0.5/js/jquery.lightbox-0.5.js"></script>

    <link rel="stylesheet" href="static/stylesheets/styles.css">
    <link rel="stylesheet" href="static/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/lightbox/0.5/css/jquery.lightbox-0.5.css">
    <script> 
      var ajax_form_options = {
        target: "#message", 
        error: function() {
          $('#message').attr('class', 'error');
        },
        success: function() { 
          $('#message').attr('class', 'success');
        }
      }

      var lightbox_options = {
        imageLoading: '//cdn.jsdelivr.net/lightbox/0.5/images/lightbox-ico-loading.gif',
        imageBtnClose: '//cdn.jsdelivr.net/lightbox/0.5/images/lightbox-btn-close.gif',
        imageBtnPrev: '//cdn.jsdelivr.net/lightbox/0.5/images/lightbox-btn-prev.gif',
        imageBtnNext: '//cdn.jsdelivr.net/lightbox/0.5/images/lightbox-btn-next.gif',
      }
      // wait for the DOM to be loaded 
      $(document).ready(function() { 
          // bind 'myForm' and provide a simple callback function 
          $("#myForm").validate();
          $("#myForm").ajaxForm(ajax_form_options);
          $('.lightbox').lightBox(lightbox_options);
      }); 
    </script> 
  </body>
</html>
